<div class = "profile_article">
    <div class ="profile_header">
        <p>Bienvenido a tu perfil {{userData.user}}.</p><br>
        <p>Tu tipo de usuario es: {{userData.rol}} </p><br>
        <p>Tu carrito es: {{userData.cartid}}</p>
    </div>
    <h1>Vista del carrito</h1>
{{#if cartProduct._id}}
    {{#if cartProduct.products}}
        <h2>Listado de productos agregados</h2>
        {{#each cartProduct.products}}
        <div class="each_product">
            <div class="each_product_img">
                <img src={{this.product.thumbnail}} alt={{this.product.description}}>
            </div>
            <div class = "each_product_text">
                <p>Product Id: {{this.product._id}}</p>
                <p>Precio Unitario: {{this.product.price}}</p>
                <p>Cantidad en el carrito: {{this.quantity}}</p>
            </div>
            <div class = "each_product_remove">
                {{!-- <form method="delete" action="/api/carts/{{../userData.cartid}}/product/{{this.product._id}}"> --}}
                <button>❌</button>
                {{!-- </form> --}}
            </div>
        </div>
        {{/each}}
    {{else}}
        No hay productos en el carrito
    {{/if}}
{{else}}
    <p>No hay detalles</p>
{{/if}}
</div>

