<div>
    <h1>Profile</h1>
    <h2>Bienvenido a tu perfil {{userData.user}}.</h2><br>
    <p>Tu tipo de usuario es: {{userData.rol}} </p><br>
    <p>Tu carrito es: {{userData.cartid}}</p><br>
    <h1>Vista del carrito</h1>
{{#if cartProduct._id}}
    {{#if cartProduct.products}}
        <h2>Listado de productos agregados</h2>
        {{#each cartProduct.products}}
            <div>
                <p>Id: {{this._id}}</p>
                <p>Cantidad: {{this.quantity}}</p>
            </div>
        {{/each}}
    {{else}}
        No hay productos en el carrito
    {{/if}}
{{else}}
    <p>No hay detalles</p>
{{/if}}
</div>

